body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    margin: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    --bs-navbar-toggler-border-color: rgb(255, 255, 255);
}

.navbar .navbar-toggler {
    border: 2px;
    
}

.navbar-brand {
    font-weight: bold;
    color: #ffffff;
}

.navbar .navbar-nav .active {
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
}

.navbar .navbar-nav a {
    font-weight: bold;
    color: #ffffff;
}

/* Jumbotron Container */

.callout-container {
    height: 100vh;
    background-color: #53b8b8;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

/* Jumbotron Content */

.jumbotron h1 {
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #ffffff;
}

.jumbotron small {
    color: #a7a7a7;
    font-style: italic;
}

.jumbotron blockquote {
    color: #ffffff;
}

.jumbotron cite {
    color: #ffffff
}