body {
    padding-top: 8vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

/* Content Container Padding */
.content-container {
    padding-bottom: 0px;
    padding-top: 30px;
}

.accordion-container {
    padding-bottom: 40px;
    padding-top: 40px;
}

/* Section Divider Color */

.container-wrapper--lightgreen {
    background-color: #c9f0f0;
    
}

/* Page Headers */

.page-headers {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin: 0;

}

/*Page title headers with background*/

.page-header-container {
    height: 20vh;
    background: url(../images/page-header-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(83, 184, 184, 0.75);
    height: 100%;
    width: 100%;

}

.page-header-text {
    z-index: 2;
    color: #ffffff;
}

/* Block Divider */

.block-divider {
    border: none;
    height: 5px;
    width: 40%;
    border-radius: 5px;
    /* Overrides Bootstrap <hr> default opacity value */
    opacity: 1;
    
}

.block-divider--short {
    width: 50px;
}

.block-divider--green {
    background-color: #53b8b8;
}

.block-divider--white {
    background-color: #ffffff;
}

/* Custom Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    color: #3fbaba;
    background-color: #ffffff;
    border-color: #3fbaba;
    font-weight: bold;   
    /* border-color: #c9f0f0; */
        
}

.btn--cta:hover {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    background-color: #f0f0f0;
    color: #3fbaba;
        
}

.btn--blue {
    color: #ffffff;
    background-color: #3fbaba;
    font-weight: bold;
    font-size: 1.2rem;   
    
}

.btn--blue:hover {
    background-color: #ffffff;
    color: #0077B6;
    font-weight: bold;
    border-color: #0077B6;;
        
}




/* Navbar */

.navbar {
    margin: 0;
    border: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.50); */
    background-color: #53b8b8;
    box-shadow: 0 2px 2px #3a3a3a;
    --bs-navbar-toggler-border-color: rgb(255, 255, 255);
}

.navbar .navbar-toggler {
    border: 2px;
    
}

.navbar-brand {
    font-weight: bold;
    color: #ffffff;
}

.navbar .navbar-nav .active {
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
}

.navbar .navbar-nav a {
    font-weight: bold;
    color: #ffffff;
}

/* Jumbotron Container */

.hero-container-image {
    height: 92vh;
    background: url(../images/page-header-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;

    
}

.opaque-overlay-hero {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(83, 184, 184, 0.75);
    height: 100%;
    width: 100%;
    
}

.callout-container-section1 {
    /* Set height to full view of device screen */
    height: 82vh;
    background-color: transparent;
    
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3;
    
    position: relative;
}

.callout-container-section2 {
    /* Set height to full view of device screen */
    height: 10vh;
    background-color: transparent;
    
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3;
    
    position: relative;
}

.callout-container-section2 i {
    font-size: 30px;
    margin-bottom: 10px;
}

.callout-container-section2 h3 {
    color:#ffffff;
}


/* Jumbotron Content */

.jumbotron h1 {
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.jumbotron .lead {
    color: #ffffff;
    
}

.jumbotron small {
    color: #a7a7a7;
    font-style: italic;
}

.jumbotron blockquote {
    color: #ffffff;
}

.jumbotron cite {
    color: #ffffff
}

/* Positive Thoughts Section */

.positive-thoughts i {
    
    font-size: 10rem;
    margin-bottom: 20px;
}

.text-color--green {
    color: #53b8b8;
}

/* Navigation Cards */

.card-title {
    font-weight: bold;
    font-size: 1.3rem;
}


.card-button {
    margin-top: 10px;
}

/* Accordion style override */

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #53b8b8;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    font-weight: bold;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}

.accordion-button {
    font-size: 1.25rem;
}

.accordion-text-label {
    background-color: #53b8b8;
    border-radius: 10px;
    color:white;
    font-size: 1rem;
}
   
    

/* Footer */

.footer-container {
    margin-top: auto;
}

footer a {
    font-weight: bold;
}